<div id="product">
  <h2>
    {{ event.name }}
  
    {% if event.starts_at %}
      <br/>
      <small>
        {{ event.starts_at | date: "%b" }} {{ event.starts_at | date: "%d" | ordinalize }}, {{ event.starts_at | date: "%Y" }}
        @ {{ event.starts_at | date: "%I:%M %p" }}
      </small>
    {% endif %}
  </h2>

  <ul id="images">
    {% for image in event.images %}
      <li>
        <a href="{{ image.url }}" target="_blank">
          {% if forloop.first %}
            {{ event.images.first.v200_url | img_tag: 'thumbnail' }}
          {% else %}
            {{ image.v075_url | img_tag: 'thumbnail' }}
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>

  <div id="body">
    {% if event.venue %}
      {% if config['embed_google_maps_on_event_pages'] %}
        <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ event.venue.maps_url }}&iwloc=near&output=embed"></iframe>
        
        <br/><br/>
      {% endif %}
      
      <p>
        <strong>{{ event.venue.name }}</strong> (<a href="{{ event.venue.maps_url }}" target="_blank">Map</a>)<br/>
        {{ event.venue.street_address_1 }}<br/>
        {% if event.venue.street_address_2 != '' %}
          {{ event.venue.street_address_2 }}<br/>
        {% endif %}
        {{ event.venue.city }},
        {{ event.venue.state }}
        {{ event.venue.postal_code }}<br/>
        {{ event.venue.country }}
      </p>

    {% endif %}

    {% if event.soundcloud_playlist_id %}
      <div id="soundcloud">
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F{{ event.soundcloud_playlist_id }}&show_artwork=false&show_play_count=false&color={{ config['soundcloud_player_color'] | replace:'#','' }}"></iframe>
      </div>
    {% endif %}

    <div id="description">
      {{ event.description | simple_format }}
    </div>

    <div id="variations">
      {% if event.available? %}
        <p>
          <select id="cart_variation_id">
            {% unless config['supress_select_option'] and event.variations.size == 1 %}
              <option>Select...</option>
            {% endunless %}
            {% for variation in event.variations %}
              {% if variation.available? %}
                <option value="{{ variation.id }}">{{ variation.name }} - {{ variation.price | money }}</option>
              {% else %}
                <option disabled="disabled">{{ variation.name }} - {{ variation.price | money }} (Out of Stock)</option>
              {% endif %}
            {% endfor %}
          </select>
  
          <button class="btn" onclick="javascript:Store.cart.add(document.getElementById('cart_variation_id').options[document.getElementById('cart_variation_id').selectedIndex].value);return false;">Add to Cart</button>
        </p>
      {% elsif event.announced? %}
        <p>Tickets are coming soon.<p>
      {% elsif event.unavailable? %}
        <p>Tickets aren't currently available.<p>
      {% elsif event.unlisted? %}
        <p>This show isn't listed. That means it isn't visible to your customers.<p>
      {% endif %}
    </div>

    {% if config['display_tweet_button'] or config['display_like_button'] %}
      <ul id="social">
        {% if config['display_tweet_button'] %}
          <li>
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ event.name | escape }} at {{ store.name | escape }}" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </li>
        {% endif %}
        {% if config['display_like_button'] %}
          <li>
            <iframe src="//www.facebook.com/plugins/like.php?href={{ store.url }}{{ event.url }}&send=false&layout=button_count&width=52&show_faces=false&action=like&colorscheme=light&font&height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:52px; height:35px;" allowTransparency="true"></iframe>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </div>

  <div class="clearfix"></div>
</div>

{% if event.eligible_for_availability_notices? %}
  <div id="availability-request" onclick="javascript:Store.requestNotification('Event', {{ event.id }});">
    {% if event.announced? %}
      Want an email when this<br/>
      becomes available?
    {% else %}
      Looking for something<br/>
      that's out of stock?
    {% endif %}
  </div>

  <script type="text/javascript">
    window.setTimeout(function() {document.getElementById('availability-request').setAttribute('class', 'reveal');}, 1000);
  </script>
{% endif %}