<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Maintenance</title>

  <style type="text/css" media="screen">
    body {
      background-color: {{ config['background_color'] }};
      color: {{ config['background_font_color'] }};
      padding: 25px;
    }

    div {
      margin: 115px 0;
    }

    h1, h2 {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 200;
      text-align: center;
    }
  </style>
</head>
<body>
  <div>
    <h1>Sorry, we aren't open for business.</h1>
    <h2>Please come back soon.</h2>
  </div>
</body>
</html>